body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

.acontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.acontent {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}



.apatient-list {
  flex: 1;
  margin-right: 20px;
}

.main-content {
  display: flex;
  flex-direction: column;
  flex: 2;
  margin: 0 20px;
}

.ablood-pressure-chart {
  margin-bottom: 20px;
}

.adiagnostic-table {
  margin-top: 2.5rem;
}

.apatient-profile {
  flex: 1;
  margin-left: 20px;
}
.lab-results-gap{
  margin-top: 1rem;
}
@media (max-width: 768px) {
  .Navbar {
      position: relative;
  }

  .acontent {
      flex-direction: column;
      align-items: center;
  }

  .apatient-list, .apatient-profile, .ablood-pressure-chart, .lab-results {
      width: 100%;
      margin-bottom: 20px;
  }
  .main-content{
    display: flex;
    flex-direction: column;
  }
  .main-content, .patient-profile-and-lab-results {
      width: 100%;
      align-items: center;
  }

  .ablood-pressure-chart, .diagnostic-table {
      overflow: auto;
  }
  .adiagnostic-table{
    display: none;
    color: white;
  }
}

@media (max-width: 576px) {
  .Navbar {
      position: static;
  }

  .acontent {
      flex-direction: column;
      align-items: center;
  }

  .apatient-list, .apatient-profile, .ablood-pressure-chart, .diagnostic-table, .lab-results {
      width: 100%;
      margin-bottom: 20px;
  }
  .adiagnostic-table{
    display: hidden;
    color: white;
  }
  .main-content, .patient-profile-and-lab-results {
      width: 100%;
      align-items: center;
  }

  .ablood-pressure-chart, .adiagnostic-table {
      overflow: auto;
  }
  
}
@media (min-width: 768px) {
  .apatient-list{
    width: 100%;
    max-width: 1200px;
  }
  .adiagnostic-table{
    width: 50vw;
    max-width: 400px;
  }
}