body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

.acontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.acontent {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}



.apatient-list {
  flex: 1;
  margin-right: 20px;
}

.main-content {
  display: flex;
  flex-direction: column;
  flex: 2;
  margin: 0 20px;
}

.ablood-pressure-chart {
  margin-bottom: 20px;
}

.diagnostic-table {
  /* No additional styling needed if it fits well within main-content */
  margin-top: 2.5rem;
}

.apatient-profile {
  flex: 1;
  margin-left: 20px;
}
.lab-results-gap{
  margin-top: 1rem;
}